<launch>
  <include file="$(find sessel_otter)/launch/camera.launch" />

  <node name="sessel_driver" pkg="sessel_otter" type="sessel_driver.py" output="screen"></node>
  <node name="hardware_driver" pkg="sessel_otter" type="hardware_driver.py" output="screen"></node>

  <arg name="marker_size" default="9" />
  <arg name="max_new_marker_error" default="0.1" />
  <arg name="max_track_error" default="0.4" />
  <arg name="cam_image_topic" default="/ar_cam/image_raw" />
  <arg name="cam_info_topic" default="/ar_cam/camera_info" />
  <arg name="output_frame" default="/ar_cam" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

  <include file="$(find sessel_otter)/launch/publish_urdf.launch" />

  <node name="two_wheel_odom" pkg="two_wheel_odom" type="odometry_node" output="screen">
    <param name="wheelbase" value="0.465" />
    <param name="ticks_per_meter" value="1000" />
  </node>
</launch>
